<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982967205255-f88tbvqhtjrih6vok1kmvr240aneek2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982967205255-f88tbvqhtjrih6vok1kmvr240aneek2u</string>
	<key>API_KEY</key>
	<string>AIzaSyDQirx95WXP7-bwi_5pq4_5GUGPqyi_jRA</string>
	<key>GCM_SENDER_ID</key>
	<string>982967205255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.student</string>
	<key>PROJECT_ID</key>
	<string>student-d61a6</string>
	<key>STORAGE_BUCKET</key>
	<string>student-d61a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982967205255:ios:8abff2bc9ebde9d463e722</string>
</dict>
</plist>